Importing Packages

In [1]:
import pandasql.sqldf as ps

Read Excel File

In [53]:
instruction = pd.read_excel('Shopee ID - SQL Test - Muhammad Febriantoro.xlsx', sheet_name = 0)
user_tab = pd.read_excel('Shopee ID - SQL Test - Muhammad Febriantoro.xlsx', sheet_name = 'user_tab')
order_tab = pd.read_excel('Shopee ID - SQL Test - Muhammad Febriantoro.xlsx', sheet_name = 'order_tab')

Write a SQL statement

In [71]:
#1) Write an SQL statement to count the number of users per country (5 marks)
q1 = 'SELECT COUNT(userid) total_user, country FROM user_tab GROUP BY country;' #correct
#2) Write an SQL statement to count the number of orders per country (10 marks)
q2 = 'SELECT COUNT(ord.orderid) total_order, us.country FROM user_tab us INNER JOIN order_tab ord ON ord.userid = us.userid GROUP BY us.country;' #correct
#3) Write an SQL statement to find the first order date of each user (10 marks)
q3 = 'SELECT userid, MIN(order_time) min_order_time FROM order_tab GROUP BY userid' #correct
#4) Write an SQL statement to find the number of users who made their first order in each country, each day (25 marks)
q4 = 'SELECT COUNT(ord.userid) user, us.country, MIN(ord.order_time) first_order FROM user_tab AS us INNER JOIN order_tab ord ON  us.userid = ord.userid GROUP BY us.country, ord.order_time ORDER BY us.country, ord.order_time'
#5) Write an SQL statement to find the first order GMV of each user. If there is a tie, use the order with the lower orderid (30 marks)
q5 = 'SELECT us.userid user, MIN(ord.order_time) first_order, ord.gmv FROM user_tab AS us INNER JOIN order_tab AS ord ON us.userid = ord.userid GROUP BY us.userid ORDER BY us.userid DESC' #correct

print(ps(q4, locals()))

      user country                 first_order
0       37      ID  2017-01-01 00:00:00.000000
1       27      ID  2017-01-02 00:00:00.000000
2       20      ID  2017-01-03 00:00:00.000000
3       25      ID  2017-01-04 00:00:00.000000
4       26      ID  2017-01-05 00:00:00.000000
...    ...     ...                         ...
1059    30      VN  2017-05-28 00:00:00.000000
1060    33      VN  2017-05-29 00:00:00.000000
1061    19      VN  2017-05-30 00:00:00.000000
1062    32      VN  2017-05-31 00:00:00.000000
1063    27      VN  2017-06-01 00:00:00.000000

[1064 rows x 3 columns]