In [46]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.tsa.api import VAR
from sklearn.metrics import mean_squared_log_error
import math

In [77]:
data = pd.read_csv('train.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   periode                     425 non-null    object
 1   cash_in_echannel            425 non-null    float64
 2   cash_out_echannel           425 non-null    float64
 3   cash_in_kantor              425 non-null    float64
 4   cash_out_kantor             425 non-null    float64
 5   cr_ketetapan_total_bkn_sum  425 non-null    float64
 6   giro                        425 non-null    float64
 7   deposito                    425 non-null    float64
 8   kewajiban_lain              425 non-null    float64
 9   tabungan                    425 non-null    float64
 10  rata_dpk_mingguan           425 non-null    float64
 11  kas_kantor                  425 non-null    float64
 12  kas_echannel                425 non-null    float64
dtypes: float64(12), object(1)
memory usage: 43.3+ KB

In [99]:
class forecast():
    def __init__(self, data, column):
        data_ = data[column]
        print(data_.shape)
        train = data_.iloc[:-31,:]
        test = data_.iloc[-31:, :].reset_index()
        test = test.drop(columns = ['index'])
        print(X.shape, y.shape)
        model = VAR(endog=train)
        model_fit = model.fit()
        self.pred = model_fit.forecast(model_fit.y, steps=31)
        self.pred = pd.DataFrame(self.pred, columns = column)
        self.error = math.sqrt(mean_squared_log_error(test.iloc[:, -1], self.pred.iloc[:, -1]))
        print('RMSLE :', self.error)

In [101]:
column1 = ['cash_in_kantor', 'cash_out_kantor', 'kas_kantor']
column2 = ['cash_in_echannel', 'cash_out_echannel', 'kas_echannel']
result1 = forecast(data, column1)
result2 = forecast(data, column2)

(425, 3)
(394, 3) (31, 3)
RMSLE : 0.014684002988697263
(425, 3)
(394, 3) (31, 3)
RMSLE : 0.39215061623380515

C:\Users\febrian-inspiring\miniconda3\envs\deeplearning\lib\site-packages\statsmodels\base\wrapper.py:34: FutureWarning: y is a deprecated alias for endog, will be removed in version 0.11.0
  obj = getattr(results, attr)
C:\Users\febrian-inspiring\miniconda3\envs\deeplearning\lib\site-packages\statsmodels\base\wrapper.py:34: FutureWarning: y is a deprecated alias for endog, will be removed in version 0.11.0
  obj = getattr(results, attr)

In [119]:
submission = pd.concat([result1.pred.kas_kantor, result2.pred.kas_echannel])
submission = submission.values

In [132]:
data_submission = pd.read_csv('sample_submission.csv')
data_submission['value'] = submission

    index         value
0       0  1.051191e+13
1       1  1.053540e+13
2       2  1.055896e+13
3       3  1.058262e+13
4       4  1.060628e+13
..    ...           ...
57     57  3.646673e+09
58     58  3.645623e+09
59     59  3.644781e+09
60     60  3.644105e+09
61     61  3.643563e+09

[62 rows x 2 columns]

In [134]:
data_submission.to_csv('submission.csv', index = False)

In [128]:
data_submission

    index         value
0       0  1.051191e+13
1       1  1.053540e+13
2       2  1.055896e+13
3       3  1.058262e+13
4       4  1.060628e+13
..    ...           ...
57     57  3.646673e+09
58     58  3.645623e+09
59     59  3.644781e+09
60     60  3.644105e+09
61     61  3.643563e+09

[62 rows x 2 columns]